/* http://www.menucool.com */

#sliderFrame, #sliderFrame div {
    box-sizing: content-box;
}
/*slider frame*/
#sliderFrame {position:relative;background-color:White;}      

#slider, #slider div.sliderInner {
    width:960px;height:400px;/* Must be the same size as the slider images */
}

#slider 
{
	background:transparent url(loading.gif) no-repeat 50% 50%;
	position:relative;
	margin:0 auto; /*center-aligned*/
    transform: translate3d(0,0,0);
}




/* the link style (if slide image is wrapped in a link) */
#slider a.imgLink, #slider .video {
	z-index:2;
	position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}
#slider .video {
	background:transparent url(video.png) no-repeat 50% 50%;
}

/* Caption styles */
/* Not set as each slide has no caption in this demo. */


/* ------ built-in navigation bullets wrapper ------*/
#slider div.navBulletsWrapper  {
	display:none;
}

div.buttonsPongBack {
    width:100%;
    text-align:center;
}



div.pic{
    position: relative;	

}
div.Videjo{
    position: absolute;
top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);
}